body {background-image: url(../img/me2.jpg);
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
h1 {color: white; text-align: center; font-size: 14rem; font-family: 'Amatic SC', cursive;}
h3 {color: white; text-align: center; font-size: 7rem; font-family: 'Amatic SC', cursive; padding: 4rem;}
a:link {color: white; text-align: center;font-size: 4rem;padding-top: 10rem; font-family: 'Amatic SC', cursive; padding: 4rem; text-decoration: none;transition: all 1s;}
a:visited {color: white; text-align: center; font-size: 4rem; font-family: 'Amatic SC', cursive; padding: 4rem; text-decoration: none;transition: all 1s;}
a:hover {color: #00C1FF; text-align: center; font-size: 5rem; font-family: 'Amatic SC', cursive; padding: 4rem; padding-left: 11rem; text-decoration: none; transition: all 1s; }
p {color: white; text-align: center; font-size: 4rem; font-family: 'Amatic SC', cursive; background-color:rgba(0,0,0,0.6);}
li{color: white; text-align: center; font-size: 4rem; font-family: 'Amatic SC', cursive;}
button{background-color:#8c8577;font-family: 'Amatic SC', cursive; font-size: 3rem; transition: all 1s; }
button:hover {color: #00C1FF; text-align: center; font-size: 4rem;font-family: 'Amatic SC', cursive;transition: all 1s; }
