body {background-image: url(../img/binding_dark.png);
}
h1 {color: white;
  text-align: center;
  font-size: 7rem;
  font-family: 'Share Tech Mono',
  monospace;
}

h3 {color: white;
  text-align: center;
  font-size: 4rem;
  font-family: 'Share Tech Mono', monospace;
  padding: 4rem;
  }

a:link {color: white;
  text-align: center;
  font-size: 4rem;
  font-family:'Share Tech Mono', monospace;
  text-decoration: none;
  transition: all 1s;}

a:visited {color: white;
  text-align: center;
  font-size: 4rem;
  font-family: 'Share Tech Mono', monospace;
   text-decoration: none;
   transition: all 1s;}

a:hover {color: #00C1FF;
  text-align: center;
  font-size: 4rem;
   font-family:'Share Tech Mono', monospace;
    padding-left: 11rem;
     text-decoration: none;
      transition: all 1s; }

p {color: white;
  text-align: center;
  font-size: 2rem;
   font-family: 'Share Tech Mono', monospace;
 /*background-color:rgba(0,0,0,0.8);*/}

li{color: white;
   text-align: left;
   font-size: 2rem;
   font-family: 'Share Tech Mono', monospace;
}

button{background-color:rgba(0,0,0,0.8);
  color: white;
   font-family: 'Share Tech Mono', monospace;
    font-size: 3rem;
    transition: all 1s; }

button:hover {color: #00C1FF;
  text-align: center;
   font-size: 4rem;
   font-family:'Share Tech Mono', monospace;
   transition: all 1s; }
   
.devider{ height: 60px; width: auto;}
.big_devider{ height: 300px; width: auto;}
