/* body******************************************************/
body {background: url(../img/bg.png);}
/* headers******************************************************/
h1{
margin: 2em auto;
text-align: center;
color: white;
font-size: 4em;
}

h3{
text-align: center;
color: white;
font-size: 2.5em;
}
/* form******************************************************/

input {
  display: block;
  background: lightgrey;
  margin: 10px auto;
  border: 5px black solid;
}
textarea {
  display: block;
  background: lightgrey;
  margin: 10px auto;
  border: 5px black solid;
}

label{
  display: block;
  color:white;
  font-size: 3em;
text-align: center;
}

#submit {
background: green;
height: 60px;
width: 300px;
border-radius:50px;
color: white;
font-size: 1.5em;
}


/* paragraph******************************************************/
p{text-align: center; color: white; font-size: 2em;}

/* NAVIGATION******************************************************/

li {

  list-style: none;
  display: inline-block;
  font-size: 3em;
  text-align: center;
    text-decoration: none;
   }

a:link,
a:visited{
border-left: 8px white;
  display: block;
  color: white;
  text-decoration: none;
  transition: all 1s;
}
a: focus{}
a:hover{
  background: lightgrey;
  color: black;
  transition: all 1s,;
}


