body {background: url(../img/bg.png);}

h1{text-align: center; color: white;
}

li{text-align: center;}


/* NAVIGATION******************************************************/
li {

  list-style: none;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  }

a:link,
a:visited{
border-left: 8px white;
  display: block;
  color: white;
  text-align: center;
  line-height: 2em;
  height: 32px;
  width: 200px;
  margin-bottom;10px
  text-decoration: none;
  transition: background 1s,padding-top 1s ;
}
a: focus{}
a:hover{
  background: lightgrey;
  color: white;
  transition: background 1s, padding-top 1s ;
}
/* NAVIGATION**************************************************************/

